<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<commands>
			<command name="ribbon:copyfromlanguage"
               type="IAS.Feature.Language.LanguageCopy.RibbonCopyFromLanguage, IAS.Feature.Language" />
			<command name="webedit:copyfromlanguage"
               type="IAS.Feature.Language.LanguageCopy.WebEditCopyFromLanguage, IAS.Feature.Language" />
			<command name="item:addversionrecursive"
               type="IAS.Feature.Language.LanguageCopy.AddVersionRecursiveCommand, IAS.Feature.Language" />
			<command name="copylanguagefrom:toggleincludesubitems"
               type="IAS.Feature.Language.LanguageCopy.ToggleSubitemCopying, IAS.Feature.Language" />
			<command name="copylanguagefrom:toggledeepcopy"
               type="IAS.Feature.Language.LanguageCopy.ToggleDeepCopyCommand, IAS.Feature.Language" />
		</commands>
		<settings>
			<setting name="VersionFromLanguage.ChildrenGroupingTemplates"
               value="LinkListTemplate|CarouselTemplate|SocialMediaGroupingTemplate" />
		</settings>
	</sitecore>
</configuration>